/*SET ALL PADDING AND MARGIN TO ZERO*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', serif, sans-serif;
    padding-top: 150px;
}
.wrapper {
    background-image: url(../images/bookCloth.png);
}

/*######## HEADINGS / STANDARD FONTS ETC #########*/
section {
    width: 100%;
    padding: 2em 0;
}
h1 {
    font-size: 2em;
    letter-spacing: .07em;
}
h3 {
    margin-top: 1em;
}
p {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}
img {
    margin: 0 auto;
    margin-top: 2em;
}
/*############ HEADER ############*/
header {
    height: 200px;
}
/* BANNER */
.banner {
    text-align: center;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    background-color: black;
}
.banner img {
    width: 350px;
    margin: 0;
}
/* NAVIGATION */
nav, .wrapper {
    position: relative;
}
nav {
    height: 50px;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 150;
}
.nav-scrolled {
    width: 100%;
    position: fixed;
    top: 0;
}
nav a {
    display: inline-block;
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    letter-spacing: 5px;
    background-color: black;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
nav a:hover {
    background-color: white;
    color: black;
}
.musicLink {
    display: inline-block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
}
.showsLink {
    display: inline-block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}
.aboutLink {
    display: inline-block;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
}
.merchLink {
    display: inline-block;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
}

/*############ SECTION 1 - VIDEO ############*/
.videoSection {
    margin-top: -150px;
    padding: 5.5em 0;
}
.videoSection iframe {
    display: block;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 20px rgba(172, 46, 46, 0.2),
                0px 0px 20px rgba(172, 46, 46, 0.2);
    box-shadow: 0px 0px 20px rgba(172, 46, 46, 0.2),
                0px 0px 20px rgba(172, 46, 46, 0.2);
}

/*############ SECTION 2 - CHECK US OUT ##########*/
#musicAnchor {
    position: absolute;
    top: -48px;
}
.checkUsOutSection {
    background-color: #b92025;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    position: relative;
}
.checkUsOutSection div {
    margin-top: 2em;
}
.checkUsOutSection div a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    width: 200px;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    -webkit-transition: letter-spacing 150ms;
    transition: letter-spacing 150ms;
}
.checkUsOutSection div a:hover {
    color: black;
    letter-spacing: .21em;
}

/*############ SECTION 3 - SOME TRACKS ############*/

.someTracks {
    color: #b92025;
    text-align: center;
    letter-spacing: 3px;
}
.someTracks iframe {
    display: block;
    margin: 2em auto;
    width: 80vw;
    border-radius: 2px;
}


/*############ SECTION 4 - UPCOMING SHOWS ######*/

#showsAnchor {
    position: absolute;
    top: -48px;
}
.upcomingShows {
    background-color: #b92025;
    color: white;
    text-align: center;
    position: relative;
}
.slideshowDiv {
    position: absolute;
}
.slideParent {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}
.upcomingShows img {
    width: 35em;
    height: auto;
    background-color: black;
    opacity: 1;
    -webkit-transition: opacity 750ms;
    transition: opacity 750ms;
    border-radius: 2px;
    position: relative;
    top: 0;
    left: 0;
}
#slideShowImgNext {
    position: absolute;
    top: 0;
    left: 0;
}
.upcomingShows i {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.23);
    padding: 0 1em;
    position: relative;
    bottom: 100px;
    -webkit-transition: text-shadow 150ms;
    transition: text-shadow 150ms;
}
.upcomingShows i:hover {
    text-shadow: 0px 0px 8px white;
    cursor: pointer;
}
.upcomingShows a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: color 300ms;
    transition: color 300ms;
    -webkit-transition: letter-spacing 150ms;
    transition: letter-spacing 150ms;
}
.upcomingShows a:hover {
    color: black;
    letter-spacing: .125em;
}

/*######### SECTION 5 - ABOUT US ########*/
#aboutAnchor {
    position: absolute;
    top: -48px;
}
.aboutUsSection {
    color: #b92025;
    text-align: center;
    position: relative;
}
.aboutUsSection img {
    display: block;
    width: 35em;
    border-radius: 2px;
}
.aboutUsSection p {
    color: #919191;
}

/*############### FOOTER ################*/
footer {
    background-color: black;
    color: white;
    height: 10em;
    text-align: center;
    width: 100%;
}
footer p {
    width: 100%;
    margin: 0 auto;
    padding: 3.5em 0;
}

/*############ MEDIA QUERIES ############*/
/* OVER 1400 PX */
@media screen and (min-width: 1450px) {
    body {
        font-size: 1.4em;
    }
    .videoSection iframe {
        width: 960px;
        height: 540px;
    }
    .upcomingShows i {
        bottom: 4em;
    }
}
/* 760 PIXELS */
@media screen and (max-width: 780px) {
    /*IFRAME*/
    .videoSection iframe {
        width: 500px;
        height: 281.25px;
    }
    /*CHECK US OUT*/
    .checkUsOutSection div a {
        width: 150px;
    }
    /*UPCOMING SHOWS*/
    .upcomingShows img {
        width: 75vw;
        height: auto;
    }
    .upcomingShows i {
        bottom: 4em;
        padding: .75em;
        font-size: 1.5em;
    }
    .upcomingShows p {
        width: 80%;
    }
    /*ABOUT US*/
    .aboutUsSection p {
        width: 80%;
    }
    .aboutUsSection img {
        width: 95%;
    }
}

/* 520 PIXELS */
@media screen and (max-width: 580px) {
    /*IFRAME*/
    .videoSection iframe {
        width: 98%;
        height: 250px;
    }
    /*CHECK US OUT*/
    .checkUsOutSection div a {
        width: 110px;
    }
    /*UPCOMING SHOWS*/
    .upcomingShows p {
        width: 90%;
    }
    .upcomingShows i {
        bottom: 3em;
        padding: .4em;
    }
}
