/*SET ALL PADDING AND MARGIN TO ZERO*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', serif, sans-serif;
    background-color: ghostwhite;
}


/*############ HEADER ############*/
header {
    height: 200px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
}
/* BANNER */
.banner {
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}
.banner h1 {
    font-size: 6em;
    color: #ac2e2e;
    font-weight: 100;
}
/* NAVIGATION */
nav {
    background-color: black;
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    display: grid;
    grid: subgrid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav a {
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    letter-spacing: 5px;
    transition: box-shadow 150ms ease-in-out;
}
nav a:hover {
    box-shadow: inset 2px 1px white,
                inset -2px -1px white;
}

.musicLink {
    display: inline-block;
    grid-column: 1 / 2;
}
.showsLink {
    display: inline-block;
    grid-column: 2 / 3;
}
.aboutLink {
    display: inline-block;
    grid-column: 3 / 4;
}
.merchLink {
    display: inline-block;
    grid-column: 4 / 5;
}


/*############ SECTION 1 - VIDEO ############*/
.videoSection {
    margin: 75px 0;
}
.videoSection iframe {
    display: block;
    margin: 0 auto;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgba(172, 46, 46, 0.2),
                0px 0px 20px rgba(172, 46, 46, 0.2);
    border-radius: 2px;
}

/*############ SECTION 2 - CHECK US OUT ##########*/

.checkUsOutSection {
    background-color: #ac2e2e;
    color: white;
    margin: 75px 0;
    text-align: center;
    padding: 50px 0;
    letter-spacing: 3px;
}
.checkUsOutSection h2,
.checkUsOutSection p{
    margin-bottom: 40px;
}
.checkUsOutSection div a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    width: 200px;
    font-size: 1.2em;
    transition: text-shadow 200ms;
}
.checkUsOutSection div a:hover {
    text-shadow: 0px 0px 5px white;
}

/*############ SECTION 3 - SOME TRACKS ############*/

.someTracks {
    color: #ac2e2e;
    text-align: center;
    letter-spacing: 3px;
}
.someTracks h2 {
    text-shadow: 0px 0px 1px black;
    margin-bottom: 50px;
}
.someTracks iframe {
    margin: 1em 25px;
    border-radius: 3px;
}

/*############ SECTION 4 - UPCOMING SHOWS ######*/

.upcomingShows {
    background-color: #ac2e2e;
    color: white;
    text-align: center;
    margin: 75px 0;
    padding: 50px 0;
}
.upcomingShows h2 {
    margin-bottom: 50px;
    letter-spacing: 3px;
}
.upcomingShows h3 {
    margin: 25px 0;
    letter-spacing: 3px;
}
.upcomingShows h3:nth-of-type(2) {
    margin-bottom: 50px;
}
.slideshowDiv {
    position: absolute;
}
.slideParent {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}
.upcomingShows img {
    width: 560px;
    height: auto;
    opacity: 1;
    transition: opacity 750ms ease-in-out;
    border-radius: 2px;
    position: relative;
    top: 0;
    left: 0;
}
#slideShowImgNext {
    position: absolute;
    top: 0;
    left: 0;
}
.upcomingShows i {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.23);
    padding: 0 20px;
    position: relative;
    bottom: 100px;
    transition: text-shadow 150ms;
}
.upcomingShows i:hover {
    text-shadow: 0px 0px 8px white;
    cursor: pointer;
}
.upcomingShows p {
    width: 475px;
    margin: 0 auto;
}


/*######### SECTION 5 - ABOUT US ########*/

.aboutUsSection {
    color: #ac2e2e;
    text-align: center;
}
.aboutUsSection img {
    display: block;
    width: 560px;
    margin: 25px auto;
    border-radius: 2px;
}
.aboutUsSection h2 {
    text-shadow: 0px 0px 1px black;
    letter-spacing: 3px;
    font-size: 1.75em;
}
.aboutUsSection p {
    width: 725px;
    margin: 25px auto;
    color: #777;
}

/*############### FOOTER ################*/
footer {
    background-color: black;
    color: white;
    height: 175px;
    text-align: center;
    margin-top: 50px;
}
footer p {
    line-height: 175px;
}

/*############ MEDIA QUERIES ############*/
/* 760 PIXELS */
@media screen and (max-width: 760px) {
    /*HEADER*/
    .banner {
        font-size: .7em;
        padding-top: 20px;
    }
    /*IFRAME*/
    .videoSection iframe {
        width: 500px;
        height: 281.25px;
    }
    /*CHECK US OUT*/
    .checkUsOutSection div a {
        width: 150px;
    }
    /*UPCOMING SHOWS*/
    .upcomingShows img {
        width: 75vw;
        height: auto;
    }
    .upcomingShows i {
        font-size: 1.5em;
        padding: 0 10px;
    }
    .upcomingShows p {
        width: 65%;
    }
    /*ABOUT US*/
    .aboutUsSection p {
        width: 80%;
    }
    .aboutUsSection img {
        width: 95%;
    }
}

/* 520 PIXELS */
@media screen and (max-width: 520px) {
    /*HEADERS AND SECTIONS MARGIN*/
    .videoSection,
    .checkUsOutSection {
        margin: 40px 0;
    }
    /*IFRAME*/
    .videoSection iframe {
        width: 98%;
        height: 250px;
    }
    /*CHECK US OUT*/
    .checkUsOutSection div a {
        width: 110px;
    }
    /*UPCOMING SHOWS*/
    .upcomingShows p {
        width: 90%;
    }
    .upcomingShows i {
        font-size: 1.25em;
        bottom: 50px;
    }
}
